@charset "UTF-8";

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

* {
    width: 100vw;
    height: 100vh;
    background: black;
    background: url(imagens/insta.jpg) no-repeat top center;
    background-size: cover;
}

.instagram {
    display: block;
    padding: 20px;
    text-align: center;
    background: #0095F6;
    text-transform:uppercase;
    font-size: bold;
    text-decoration: none;
    color: beige;
}

a:hover {
    background: #0059ff;
}